<p class='post-body'><%= post.text %></p>
<div class='post-footer'>
  <span>Comments: <%= post.comments_counter %> </span>
  <span>&nbsp;</span>
  <span> Likes: <%= post.likes_counter %></span>
</div>