<div class='col-1'> <img src='http://placeimg.com/640/480/any' alt='<%= user.name %>'></div> 
<div class='col-2'>
  <h3><%= user.name %><h3>
  <p>Number of posts: <%= user.posts_counter =%></p>
</div>