.col-md-4,
.col-md-8 {
  /* border: 2px solid goldenrod; */
  height: 200px;
}

.img-fluid {
  height: 100% !important;
  width: 100% !important;
}

a {
  text-decoration: none;
}

.col-md-8 {
  position: relative;
}

.col-md-8 p {
  position: absolute;
  bottom: 0;
  right: 0;
}

.bs,
form {
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0, rgba(27, 31, 35, 0.15) 0 0 0 1px;
  border-radius: 5px;
}

.no-bs form {
  box-shadow: none !important;
  border-radius: 0 !important;
}

.comment .card-1 {
  width: 50% !important;
  margin: auto auto;
  padding: 15px;
}

.comment-wrapper {
  width: 80% !important;
  padding: 30px;
  margin: auto auto;
}

.auth form {
  padding: 1.5rem 2rem;
}

.custom-button {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: 2px solid #fff;
  border: none;
  color: #fff;
}

.user .button_to {
  padding: 0.5rem 0.8rem;
}

.user .button_to:hover {
  transition: all;
  color: blue;
  background-color: gray;
}

.user-nav {
  text-decoration: none;
}

.user-img {
  object-fit: fill !important;
}

.add-comment-btn {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
}

.add-comment-btn:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.add-comment-btn:focus,
.add-comment-btn.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
